<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Exchange</title>
</head>
<body>

<div class="container">
    <div align="center" class="jumbotron jumbotron-fluid bg-info text-white text-center">
        <h1>Exchange Calculator</h1>
        <p>Enter value and currency you want to exchange!</p>
    </div>

</div>
<table class="table table-striped">
    <thead class="thead-dark">
    <tr>
        <th><span th:if="${currency1 != null}">First Currency Name</span></th>
        <th><span th:if="${currency1 != null}">Second Currency Name</span></th>

        <th><span th:if="${currency1 != null}">First Currency Code</span></th>
        <th><span th:if="${currency1 != null}">Second Currency Code</span></th>

        <th><span th:if="${currency1 != null}">First Currency Buying Price</span></th>
        <th><span th:if="${currency1 != null}">Second Currency Buying Price</span></th>

        <th><span th:if="${currency1 != null}">First Currency Selling Price</span></th>
        <th><span th:if="${currency1 != null}">Second Currency Selling Price</span></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><span th:if="${currency1 != null}" th:text="${currency1.getDescription()}"></span></td>
        <td><span th:if="${currency2 != null}" th:text="${currency2.getDescription()}"></span></td>
        <td><span th:if="${currency1 != null}" th:text="${currency1.getCurrencyCode()}"></span></td>
        <td><span th:if="${currency2 != null}" th:text="${currency2.getCurrencyCode()}"></span></td>
        <td><span th:if="${currency1 != null}" th:text="${currency1.getRates().get(0).getBid()}"></span></td>
        <td><span th:if="${currency2 != null}" th:text="${currency2.getRates().get(0).getBid()}"></span></td>
        <td><span th:if="${currency1 != null}" th:text="${currency1.getRates().get(0).getAsk()}"></span></td>
        <td><span th:if="${currency2 != null}" th:text="${currency2.getRates().get(0).getAsk()}"></span></td>
    </tr>
    </tbody>
</table>
<div align="center">
    <form action="#" th:action="@{/}" th:object="${userInputForm}" method="post">
        <div class="form-group">
            <label>Given Amount</label>
            <label>
                <input type="text" name="givenAmount" th:field="*{givenAmount}"
                       placeholder="Enter the sum you want to exchange">
            </label>
            <p class="col-12 text-danger my-2 text-center" th:if="${#fields.hasErrors('givenAmount')}"
               th:errors="*{givenAmount}">Enter correct value</p>
            <h1 th:if="${givenAmount != null}" th:text="${givenAmount}"></h1>
        </div>
        <div class="form-group">
            <label>
                <select name="currencyCode1">
                    <option value="USD">USD</option>
                    <option value="AUD">AUD</option>
                    <option value="CAD">CAD</option>
                    <option value="EUR">EUR</option>
                    <option value="HUF">HUF</option>
                    <option value="CHF">CHF</option>
                    <option value="GBP">GBP</option>
                    <option value="JPY">JPY</option>
                    <option value="CZK">CZK</option>
                    <option value="DKK">DKK</option>
                    <option value="NOK">NOK</option>
                    <option value="SEK">SEK</option>
                    <option value="XDR">SDR (MFW)</option>
                    <option th:if="${givenAmount != null}" th:selected="selected"
                            th:text="${currency1.getCurrencyCode()}">
                    </option>
                </select>
            </label>
        </div>
        <div class="form-group">
            <label>Result</label>
            <h1 th:if="${resultAmount != null}" th:text="${resultAmount}"></h1>
        </div>
        <div class="form-group">
            <label>
                <select name="currencyCode2">
                    <option value="USD">USD</option>
                    <option value="AUD">AUD</option>
                    <option value="CAD">CAD</option>
                    <option value="EUR">EUR</option>
                    <option value="HUF">HUF</option>
                    <option value="CHF">CHF</option>
                    <option value="GBP">GBP</option>
                    <option value="JPY">JPY</option>
                    <option value="CZK">CZK</option>
                    <option value="DKK">DKK</option>
                    <option value="NOK">NOK</option>
                    <option value="SEK">SEK</option>
                    <option value="XDR">SDR (MFW)</option>
                    <option th:if="${resultAmount != null}" th:selected="selected"
                            th:text="${currency2.getCurrencyCode()}">
                    </option>
                </select>
            </label>
        </div>
        <input type="submit" value="Exchange currency" class="btn btn-primary">
        <input type="button" value="Exchange new currency" class="btn btn-primary"
               onClick="location.href=location.href">
    </form>
</div>
<footer class="page-footer font-small bg-secondary text-white special-color-dark pt-4">
    <div class="footer-copyright text-center py-3">© 2016 Copyright:
        <a href="">Test123</a>
    </div>
</footer>
</body>
</html>